Django==5.2.7
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-allauth==65.14.3
gunicorn
python-dotenv==1.2.2
requests==2.32.5
groq==1.0.0
PyPDF2==3.0.1
pdfplumber==0.11.9
python-docx==1.2.0
pillow==12.1.1
qrcode==8.2
reportlab==4.4.9